/*
****************************
*    SugarSkull Styles     *
****************************
*/

/******************************************* NAVBARS *********************************************/
/* Navbar background */
.navbar.fixed-top.bg-white {
    background-color: #FF9800 !important;
    border-bottom: 1px solid #FF9800 !important;
}

/* myModules dropdown - high specificity required*/
#page-wrapper > nav > ul.navbar-nav.d-none.d-md-flex .dropdown-toggle.nav-link {
    background-color: #ffffff !important;
    box-shadow: none !important;
    color: #646464 !important;
    webkit-box-shadow: none !important;
}

/* myAdmin & Unisa Library navbar buttons */
.navbar-nav.d-none.d-md-flex .nav-item{
    box-shadow: none !important;
    webkit-box-shadow: none !important;
}


/************************************ Inner Card background *************************************/
/* Main Inner Card*/
#page.drawers .main-inner{
    background-color: #673ab7 !important;
}


/* Intro Card */
.card{
    background-color: #673ab7 !important;
    color: #ffffff !important;
}

/* Sidebar Inner Card */
#page.drawers{
    scrollbar-color: #FF9800 #673ab7 !important;
}

/* Page background */
body, #page-wrapper {
    background-color: #673ab7 !important;
}

/******************************************* Module Cards ***************************************/

/* Course Sorting */
.d-flex .btn.btn-outline-secondary {
    color: #ffffff !important;
    border-color: #FF9800 !important;

}
ul.list-group li.list-group-item {
    background-color: #392165 !important;
    border-radius: 10px !important;
    margin-bottom: 5px !important;
}

/* Year/Semester text */
.categoryname{
    color: #c9c9c9 !important;
}

/* Completion % text */
/* Targets any text inside the bottom 'flex-wrap' area of the course cards */
.course-listitem .d-flex.flex-wrap.mt-auto {
    color: #c9c9c9 !important;
}

/* Module Card Burger Menu Icon */
button.btn.btn-link.btn-icon {
    color:#FF9800 !important;
}

/*********************************** Calandar Drawer *********************************************/
/* Calandar - Content Drawer Header */
.drawerheader {
    background-color: #673ab7 !important;
    margin-top: -5px !important;
}

/* Calandar - Content Drawer Header Close Button */
div.drawerheader .btn.drawertoggle.icon-no-margin {
    color: #FF9800 !important;
}

/* Calandar - Content Drawer Body */
div.drawercontent.drag-container {
    background-color: #673ab7 !important;
    color: #f6f6f6 !important;
    scrollbar-color: #FF9800 #673ab7 !important;
}

/* Calandar - Card Title Text */
div.card-body .card-title {
    border-bottom: #FF9800 3px solid !important;
    color: #f6f6f6 !important;
}   

/******************************************* Globals *********************************************/
/* Body text */
body {
    color: #f6f6f6 !important;
}
