:root {
    --bg-color: #392360;
    --bg-glass-color: rgba(255, 255, 255, 0.05);
    --bg-glass-color-intense: rgba(255, 255, 255, 0.1);
}

/* * { 
    /* background-color: rgba(255, 0, 0, 0.1) !important;*/
/* Tint everything slightly red */
/* outline: 1px solid lime !important;*/
/* Outline every single box */
/*}*/

body {
    /* General landing page BG*/
    font-family: Arial;
    font-size: 14px;
    line-height: 1.42857143;
    color: #ffffff !important;
    background-color: var(--bg-color) !important;
    overflow-x: hidden;
    /* Using a placeholder high-contrast image for testing */
    background-image: url('chrome-extension://__MSG_@@extension_id__/Themes/SugarSkullTheme/imgs/pawel-czerwinski-9yOpe1TBxd4-unsplash.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
}

.container>.navbar-header,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container-fluid>.navbar-collapse {
    margin-right: 0;
    margin-left: 0;
    background-color: rgba(255, 255, 255, 0.05) !important;
    backdrop-filter: blur(10px) !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    border-radius: 8px !important;
}

/* NOTICES PANEL & IMPORTANT LINKS PANEL*/
.panel {
    margin-bottom: 20px;
    background-color: var(--bg-glass-color) !important;
    backdrop-filter: blur(10px) !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
    color: rgb(255, 162, 0) !important;
    background-image: none !important;
    background-color: var(--bg-glass-color-intense) !important;
    border-bottom: none !important;
}

/* ANCHOR TAGS */
a {
    color: rgb(255, 170, 0) !important;
}

/* UNISA LANDING PAGE FOOTER */
.myUnisaFooter {
    padding-top: 20px;
    background-color: var(--bg-glass-color) !important;
    border-radius: 10px 10px 0 0 !important;
    background-color: var(--bg-glass-color) !important;
    backdrop-filter: blur(10px) !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* EVENTS PANEL */
.ci-gray-lighter-bg {
    background-color: var(--bg-glass-color) !important;
    backdrop-filter: blur(10px) !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    border-radius: 10px !important;
}

/* EMAIL myLife & UNISA RADIO BUTTONS */
.btn-ci-yellow-variant {
    padding-bottom: 2px !important;
}

/* NEWS PANEL */
.news-carousel-read-more {
    padding-bottom: 29px !important;
}

h1 {
    color: rgb(255, 136, 0) !important;

}